
.sub{
    display: flex;
    flex-direction: row;
    border: 2px solid #313131;
    border-radius: 50px;
   width:-57%;
   height: 100%;
   margin-left: 15px;
   border-left: 20px;
   background-color: #565555;

}
.frame{
  display: grid;
  grid-template-columns: repeat(4,300px);
  justify-content: space-around;
    margin-left: 222px;
    margin-top: 24px;
}
.disc{
    font-size: 12px;
   margin-top: -29px;
   margin-left: 40px;
   color: white;
}
.views{
    font-size: 8px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin-top:-1px ;
     margin-left:px ;
     color: white;
}
.views1{
    font-size: 12px;
    margin-top: -2px;
    margin-left: 40px;
}
.disc.d4{
  color: white;
  margin-top: -2px;
}
.disc.d6{
  margin-top: -1px;
    font-size: 12px;
   margin-left: 40px;
   color: white;
}
.img-thumbnail{
  width: 300px;
 
  
}