
.main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 87px;
    
}
.main2{
    margin-top: -17px;
}
.D{
    margin-top: 28px;
}

.site{
    height: 17px;
    margin-top: 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;

}
.site:hover {
    background-color: #383838; 
    transform: scale(1.02); 
    height: 40px;

}

#logo{
    margin-left: 14px;
    
}
.home{
    margin-left: 48px;
    margin-top: -24px;
    font-size: 16px;
    color: white;
}
.E{
    margin-right: 481px;
    color: white;
} 
    
    

.mark{
    margin-top: 2px;
    margin-left: 550px;

}
.sitebar{
    width: 200px;
    background-size: 207px;
    background-color: #212121;
    position: fixed;
    
}
.subscr{
    color: WHITE;
}



